body {
  font-family: Arial, sans-serif;
  background-image: url('../img/trade.png');
  position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
}

main {
  padding-top: 60px;
  text-align: center;
}

.graph-container {
  height: 200px;
  margin: 20px auto;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.actions-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.actions-container button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.actions-container button:hover {
  background-color: #fff;
  color: #333;
}

.actions-container input {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
}
.selected {
  background-color: #4CAF50;
  color: white;
}
.selectered {
  background-color: #e81818;
  color: white;
}
input[type="text"]{
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  width: 20%;
  text-align: center;
  margin-bottom: 20px;
}

 
.container {
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ff0000;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(239, 228, 228, 0.1);
  backdrop-filter: blur(4px);
  padding: 20px;
  color: #fff;
  text-shadow: 2px 2px #3216bd;
  border-radius: 10px;
  border: 2px solid #00ff08;
}

.container::before,
.container::after {
  content: '';
  display: block;
  position: absolute;
  width: 90%;
  height: 70%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* .container::before {
  animation: border-glow 5s ease-out infinite;
  border: 1px solid #0f0;
  border-radius: 10px;
  background: linear-gradient(to right, #394242 0%, #aab4b4 50%, transparent 50%);
  background-size: 200% 100%;
} */

/* @keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
} */

/* @keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(104, 241, 106, 0.5);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(104, 241, 106, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(104, 241, 106, 0);
  }
} */

/* .container::after {
  animation: border-glow 2s ease-out infinite;
  border: 2px solid #0f0;
  border-radius: 10px;
  filter: blur(20px);
  background: linear-gradient(to right, #00FFFF 0%, #00FFFF 50%, transparent 50%);
  background-size: 200% 100%;
} */

/* @keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(104, 241, 106, 0.4);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(104, 241, 106, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(104, 241, 106, 0);
  }
} */

@keyframes border-glow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
  
  /* Gradiente de borda animado */
  50% {
    background-position: 0% 30%;
  }
}




.btn {
  padding: 10px 20px;
  border-radius: 5px;
 
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #2980b9;
  cursor: pointer;
}
